/*General*/
html, body {
    font-family: Inter, sans-serif;
    background-color: #B4ACA1;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    background-color: #EBE7E1;
    width: 1532px;
    height: 820px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left, .right {
    margin: 10px;
}

img {
    width: 357px;
    align-self: center;
    margin-top: 20px;
}

/*Form*/
.left {
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pair {
    margin: 25px 0;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    color: #272A83;
    margin: 0 auto;
}

label {
    font-size: 19px;
    color: #272A83;
    padding-left: 16px;
}

.field, input {
    width: 423px;
    height: 30px;
    border-radius: 25px;
    border: 0px;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 16px;
}

.field::placeholder {
    font-size: 16px;
    font-style: italic;
}

/*Search and Table*/
.right {
    width: 881px;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.s {
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    justify-content: right;
}

.search {
    padding-right: 50px;
    border: none;
    margin: 0;
}

.wrap {
    width: 100%;
    overflow-y: auto;
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    width: 100%;
    background-color: #272A83;
}

thead td:first-child {
    border-top-left-radius: 25px;
}

thead td:last-child {
    border-top-right-radius: 25px;
}

thead td {
    color: #F5F5F5;
    
}

td {
    max-width: 600px;
    height: 50px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}

#booklist {
    width: 100%;
}

#booklist td.text{
    border: none;
}

#booklist tr {
    width: 100%;
    background-color: #F5F5F5;
    height: 50px;
    padding: 10px;
}

input.editing {
    border-radius: 25px;
    border: 0px;
    padding: 10px 20px;
}

tr td.noresult {
    background-color:#EBE7E1;
    text-align: center;
}

/*Buttons*/
#submit {
    float: right;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #F5F5F5;
    background-color: #272A83;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

#submitsearch, #cancel{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 12px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color:rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
}

#submitsearch {
    background-image: url('icons/search.png');
}

#cancel {
    position: relative;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
    margin: 20px;
    background-image: url('icons/cancel.png');
}

td.button {
    padding: 0;
    width: 20px;
    height: auto;
    background-color: #F5F5F5;
    border: none;
    padding: 0 10px;
}

.button .delete, .button .edit, .button .confirm{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.button .delete {
    background-image: url('icons/trash.png');
}

.button .edit {
    background-image: url('icons/pencil.png');
}

.button .confirm {
    background-image: url('icons/check.png');
}

/*Responsiveness*/

@media only screen and (min-width: 600px) and (max-width: 1540px) {
    main {
        height: auto;
    }

    .base {
        flex-direction: column;
        height: 100%;   
    }

    .left {
        width: 90%;
        height: 100%;
    }

    .field {
        width: 90%;
        padding: 10px 5%;
    }

    img {
        display: none;

    }

    .right {
        width: 100%;
        height: 100%;
        margin: 25px;
        align-items: center;
        justify-content: center;
    }

    .s {
        width: 90%; 
    }

    #search {
        width: 100%;
    }

    .wrap {
        width: 100%;
        justify-content: center;
    }

    table { 
        width: 90%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }

    .label {
        font-size: 16px;
    }

    .base {
        flex-direction: column;
        width: 100%;
        height: 100%;   
    }

    .left {
        width: 90%;
        height: 100%;
    }

    .field, .pair {
        width: 90%;
        padding: 5px 5%;
        margin: 10px 0;
    }

    #submit {
        width: 80px;
        height: 40px;
        font-size: 16px;
    }

    img {
        display: none;
    }

    .right, table {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .s {
        width: 90%; 
    }

    #search {
        width: 100%;
    }

    .wrap {
        width: 100%;
        justify-content: flex-start;
    }

    table { 
        width: 90%;
    }

    #booklist tr {
        border: 2px solid rgba(39, 42, 131, 0.3)
    }
}

